<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Summer Project</title>

		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="container">
			<header>
				<h1>Simple Summer Project<span>A to do manager</span></h1>
			</header>
				<div class="component">

					<table>
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Donation Sent</th>
								<th>Converted Amount</th>
								<th>Details</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<th> Item 4 </th>
								<td> Item 3 </td>
								<td> Item 2 </td>
								<td> Item 1</td>
								<td> blank </td>
							</tr>
						</tbody>
				</table>

			</div>

			<section class="related">

				<div><a href="https://www.facebook.com/lohbd.org?fref=ts"><h4>Official Facebook Page</h4></a></div>
				<div><a href="http://www.lightofhopebd.org/"><h4>Official Site</h4></a></div>

			</section>
		</div><!-- /container -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<script src="assets/js/jquery.stickyheader.js"></script>
	</body>
</html>
